/* Card Styles */
.question-card {
  max-width: 800px;
  margin: 20px auto;
  padding: 4rem 1.5rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  .ant-card-head-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1890ff;
    margin-bottom: 1rem;
  }
}



/* Option Image Styling */
.option-image {
  max-width: 50px;
  max-height: 50px;
  margin-left: 10px;
  border-radius: 4px;
}

.ant-modal-content {
  margin: auto;
}
