.manage-class-container {
  width: 99vw;
  padding: 20px;
  background-color: #f0f2f5;
}

.tag-badge {
  padding: 4px 8px;
  background-color: #e6f7ff;
  border-radius: 4px;
  margin-right: 5px;
}

.class-code-container {
  border: 1px solid #d9d9d9;
  padding: 16px;
  margin-bottom: 16px;
}

.code-header {
  font-weight: bold;
  margin-bottom: 10px;
}
